{% load static %}
{% load i18n %}
<div class="CategoriesButton">
    <div class="CategoriesButton-title">
        <div class="CategoriesButton-icon"><img src="{% static 'assets/img/icons/allDep.svg' %}" alt="allDep.svg">
        </div>
        <span class="CategoriesButton-text">{% translate 'Все категории' %}</span>
        <div class="CategoriesButton-arrow"></div>
    </div>
    <div class="CategoriesButton-content">

        {% for category in categories %}

            <div class="CategoriesButton-link">

                {% if not category.parent %}

                    <a href="{% url 'shop:catalog_products_list' category.pk %}">
                        <div class="CategoriesButton-icon">
                            {% if category.icon %}
                                <img src="{{ category.icon.url }}" alt="{{ category.icon.name }}">
                            {% endif %}
                        </div>
                        <span class="CategoriesButton-text">{{ category.name }}</span>
                        {% if category.children.all %}
                            <a class="CategoriesButton-arrow" href="{% url 'shop:catalog_products_list' category.pk %}"></a>
                        {% endif %}
                    </a>
                    <div class="CategoriesButton-submenu">

                        {% for child in category.children.all %}
                            {% if child in categories %}
                                <div class="CategoriesButton-link">
                                    <a href="{% url 'shop:catalog_products_list' child.pk %}">
                                        <span>{{ child.name }}</span>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>

                {% endif %}

            </div>

        {% endfor %}
    </div>
</div>
