{% extends "admin/change_list.html" %}

{% block content %}
{{ block.super }}


<a href="{% url 'admin:import_settings_json' %}" class="addlink">
    Загрузить настройки
</a>

<h2>Сбросить кэш</h2>
<form method="post" action="{% url 'admin:reset_cache_all' %}">
    {% csrf_token %}
    <button type="submit" class="button">Сбросить весь кэш</button>
</form>

<h2>Сбросить кэш для разделов:</h2>

<form method="post" action="{% url 'admin:reset_cache_products' %}">
    {% csrf_token %}
    <button type="submit" class="button">Товары</button>
</form>

<form method="post" action="{% url 'admin:reset_cache_seller_products' %}">
    {% csrf_token %}
    <button type="submit" class="button">Продукты продавцов</button>
</form>
{% endblock %}
