{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block header %}
    {% include "header_alt.html" %}
{% endblock %}

{% block middle %}
<div class="wrapper">
    <div class="header">
        <h3 class="sign-in">{% translate 'Восстановление пароля' %} (1/2)</h3>
        <h5>{% translate 'Для восстановления пароля введите адрес электронной почты, на которую зарегистрирована учетная запись' %}</h5>
    </div>
    <form action="{% url 'accounts:email' %}"  method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            {% if message %}
                <div class="alert alert-info">{{ message }}</div>
            {% endif %}
            <div>
                <input class="user-input" type="email" name="email" id="email" placeholder="E-mail">
            </div>
            <div>
                <input type="submit" value="{% translate 'Получить проверочный код' %}">
            </div>
    </form>
</div>
{% endblock %}

{% block footer %}
    {% include "footer_alt.html" %}
{% endblock %}
