{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block header %}
    {% include "header_alt.html" %}
{% endblock %}

{% block middle %}
<div class="wrapper">
    <div class="header">
        <h3 class="sign-in">{% translate 'Восстановление пароля' %} (2/2)</h3>
        <h5>{% translate 'Придумайте новый пароль для учетной записи' %}</h5>
    </div>

    <form action="{% url 'accounts:password_reset' pk=user.pk %}"  method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div>
                <input type="password" name="password" id="password" placeholder="{% translate 'Пароль' %}" />
            </div>
            <div>
                <input type="submit" value="{% translate 'Сохранить пароль' %}" />
            </div>
    </form>
</div>
{% endblock %}

{% block footer %}
    {% include "footer_alt.html" %}
{% endblock %}

