<div class="Section-column">
    <div class="Section-columnSection">
        <header class="Section-header">
            <strong class="Section-title">Прогресс заполнения
            </strong>
        </header>
        <div class="Section-columnContent">
            <div class="NavigateProfile">
                <ul class="menu menu_vt">
                    <li class="menu-item {% if current_step == 'step1' %}active{% endif %}"><a class="menu-link">Шаг 1. Параметры пользователя</a>
                    </li>
                    <li class="menu-item {% if current_step == 'step2' %}active{% endif %}"><a class="menu-link">Шаг 2. Способ доставки</a>
                    </li>
                    <li class="menu-item {% if current_step == 'step3' %}active{% endif %}"><a class="menu-link">Шаг 3. Способ оплаты</a>
                    </li>
                    <li class="menu-item {% if current_step == 'step4' %}active{% endif %}"><a class="menu-link">Шаг 4. Подтверждение заказа</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
