{% extends "base.html" %}
{% load static %}
{% block header %}
    {% include "header.html" %}
{% endblock %}
{% block middle %}

    <div class="Middle Middle_top">
        <div class="Section Section_column Section_columnRight Section_columnWide Order">
            <div class="wrap">

                {% include 'orders/order-navigation.html' %}

                <div class="Section-content">

                    <form class="form" action="{% url 'orders:user_data' %}" method="post">
                        {% csrf_token %}
                        <div class="Order-block Order-block_OPEN">
                            <header class="Section-header Section-header_sm">
                                <h2 class="Section-title">Шаг 1. Параметры пользователя
                                </h2>
                            </header>
                            <div class="row">
                                <div class="row-block">
                                    <div class="form-group">
                                        {{ form.as_p }}
                                    </div>
                                </div>
                                {% if not request.user.is_authenticated %}
                                    <div class="row-block">
                                        <div class="form-group">
                                            {{ password_form.as_p }}
                                        </div>
                                        <div class="form-group">
                                            <a class="btn btn_muted Order-btnReg" href="{% url 'accounts:login' %}">Я уже зарегистрирован</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="Order-footer">
                                <button class="btn btn_success" type="submit">Дальше</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}
    {% include "footer.html" %}
{% endblock %}
