<div class="pagination">

{% if page_obj.paginator.num_pages > 5 %}

    {% if page_obj.number > 3 %}
        <a href="?page=1">1</a>
        {% if page_obj.number != 4 %}
            <span>...</span>
        {% endif %}
    {% endif %}


    {% for page_number in page_obj.paginator.page_range %}
        {% if page_obj.number == page_number %}
            <a class="current_page" href="?page={{ page_number }}">{{ page_number }}</a>
        {% elif page_number >= page_obj.number|add:'-2' and page_number <= page_obj.number|add:'2' %}
            <a href="?page={{ page_number }}">{{ page_number }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
        {% if page_obj.number != page_obj.paginator.num_pages|add:'-3' %}
            <span>...</span>
        {% endif %}
        <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}

{% else %}

    {% for page_number in page_obj.paginator.page_range %}
        {% if page_obj.number == page_number %}
            <a class="current_page" href="?page={{ page_number }}">{{ page_number }}</a>
        {% else %}
            <a href="?page={{ page_number }}">{{ page_number }}</a>
        {% endif %}
    {% endfor %}

{% endif %}
</div>